<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Common.Properties.NotifyAppenderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Common.SFTP.SessionConfig"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Common.Properties.NotifyAppenderSettings>
      <setting name="IsDebugEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Common.Properties.NotifyAppenderSettings>
    <Common.SFTP.SessionConfig>
      <setting name="HistoryFilePath" serializeAs="String">
        <value>..\\..\\history.xml</value>
      </setting>
      <setting name="WatchPeriod" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="NumberOfSlots" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SshHostKeyFingerprint" serializeAs="String">
        <value>ssh-rsa 2048 13:bd:c2:98:f6:9d:53:f7:1a:6a:38:9d:14:2e:1f:7a</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>mole.seedhost.eu</value>
      </setting>
      <setting name="DeleteSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoteRoots" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>/home6/emptycup/downloads/completed/test</string>
            <string>/home6/emptycup/downloads/test2</string>
            <string>/home6/emptycup/downloads/completed</string>
          </ArrayOfString>
        </value>
      </setting>
    </Common.SFTP.SessionConfig>
  </userSettings>
</configuration>